
/*Universal Styling*/
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

a {
	color: seashell;
}

/*Header Styling*/

header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	padding: 0 10px;
}

header .logo img {
	height: 50px;
}

/*Navigation*/

nav {
	display: inline-block;
	float: right;
}

/*Mission Statement*/

.container {
	display: flex;
	max-width: 1200px;
}

.mission {
	background-image: url(images/img-mission-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}