
/*Universal Styling*/
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

a {
	color: seashell;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}

h2, h4 {
	padding: 0.5em 0;
	font-weight: bold;
	text-align: center;
}

h5 {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 1em;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*Header Styling*/

header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	padding: 0 10px;
	background-color: black;
}

header .logo img {
	height: 50px;
}

/*Navigation*/

nav {
	text-align: right;
	flex-grow: 1;
	text-decoration: underline;
}

nav span {
	margin-right: 20px;
}

/*Mission Statement*/

.mission {
	background-image: url(images/img-mission-background.jpg);
	margin: 0 2em;
	margin-top: 70px;
	height: 700px;
	width: 1200px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.mission-statement {
	background-color: black;
	font-weight: bold;
	margin: auto;
	width: 100%;
	padding-bottom: 20px;
}

/* Featured Tea Section*/

.text-content {
	max-width: 1000px;
	margin-top: 2em;
}

.featured-tea {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	margin: 1em 1em;
}

.monthly-tea-types {
	margin: 1em 1em;
}

.monthly-tea-types img {
	height: 200px;
	width: 300px;
}

.title {
	margin-top: 2em;
}

.locations {
	background-image:url(images/img-locations-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	width: 92%;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

#title {
	margin-top: 1.8em;
	margin-bottom: 15px;
	text-align: center;
	height: auto;
}

.stores {
	display: flex;
	align-content: space-between;
	align-items: center;
	flex-wrap: no-wrap;
	background-color: black;
	width: 300px;
	height: 300px;
	opacity: 1;
	margin: auto;
}

.address h2, p {
	padding: 3em 0;
	text-align: center;
}

.contact-info {
	height: 200px;
	align-items: center;
	text-align: center;
}

.footer {
	font-size: 0.8em;
	font-weight: bold;
	float: left;
	margin-left: 20px;
}
